.App {
  text-align: center;
}

.title {
  display: flex;
  text-align: center;
  align-items: center;
  font-size: 4vw;
  padding-top: 10px;
  justify-content: center;
  color:black;
}


a:link { 
  text-decoration: none; 
}

a:visited {
  text-decoration: none; 
}

.App-buttons:hover{
  background-color: black;
  color: aquamarine;
}

.background-buttons{
  background-color: white;
  display: flex;
  flex-direction: row;
  justify-content: space-evenly;
  list-style: none;
  flex-grow: 1;
}

.App-buttons {
  display: flex;
  justify-content: space-evenly;
  font-size: 3vw;
  padding: 30px;
  color: whitesmoke;
  background-color: purple;
  flex-direction: row;
  flex-grow: 1;
}

.moviesPage{
  display: flex;
  justify-content: space-evenly;
  font-size: 3vw;
  padding: 30px;
  color: whitesmoke;
  background-color: red;
  flex-direction: row;
}

.tvShowsPage{
  display: flex;
  justify-content: space-evenly;
  font-size: 3vw;
  padding: 30px;
  color: whitesmoke;
  background-color: blue;
  flex-direction: row;
}

.videoGamesPage{
  display: flex;
  justify-content: space-evenly;
  font-size: 3vw;
  padding: 30px;
  color: whitesmoke;
  background-color: gold;
  flex-direction: row;
}
/* @media (prefers-reduced-motion: no-preference) {
  .App-buttons {
    animation: App-buttons-spin infinite 20s linear;
  }
} */

/* @keyframes App-buttons-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
} */

